:root {
    --background-color: #edf9fd;
    --text-color: #000105;
    --primary-color: #7c7cf8;
    --secondary-color: #3b4968;
    --accent-color: #0d0d21;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#welcome-heading,
#subheading {
    color: var(--primary-color);
}

#description {
    color: var(--secondary-color);
}

/* Styles for the play button */
#play-button {
    color: #fff;
}

/* Styles for the question section */
#question-section {
    padding: 50px 0;
    
    }
    

#question-section h2 {
    color: var(--primary-color);
}

.form-group label {
    color: var(--primary-color);
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #6a6af7;
    border-color: #6a6af7;
}

h3 {
    font-size: 1.5rem;
}


.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 100px); /* Adjust the value as needed */
    overflow-y: auto; /* Add vertical scrolling if needed */
    }
    #start-quiz-btn[disabled] {
        cursor: not-allowed; /* Change cursor to denied */
    }
    
    



