<!-- finalscore.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

    <section id="final-score-section" class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8 text-center">
                <h2 class="mb-4">Your Final Score</h2>
                <h3 class="mb-4">{{ percentage }}% Correct</h3>
                <h1>{{json_data}}</h1>
                <a href="{% url 'index' %}" class="btn btn-primary">Take Another Quiz</a>
            </div>
        </div>
    </section>

</body>
</html>
