<!-- finalscore.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

    <section id="final-score-section">
        <div class="final-score-content">
            <div class="text-center">
                <h2 class="mb-4">Your Final Score</h2>
                <h3 class="mb-4">{{ percentage }}% Correct</h3>
                
                <a href="{% url 'index' %}" class="btn btn-primary">Take Another Quiz</a>
            </div>
        </div>
    </section>
<!-- Add the tsParticles library script -->
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>


<!-- Initialize tsParticles with the provided configuration -->
<script>
    function randomInRange(min, max) {
  return Math.random() * (max - min) + min;
}

confetti({
  angle: randomInRange(55, 125),
  spread: randomInRange(50, 70),
  particleCount: randomInRange(50, 100),
  origin: { y: 0.6 },
});
</script>

</body>
</html>
