{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy - Questions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="center-content">
        <form method="post" action="{% url 'finalscore' %}">
            {% csrf_token %}
            {% for question, choices in questions %}
    <div id="question-display{{ forloop.counter }}" class="mb-4">
        <h3 class="mb-3">Question {{ forloop.counter }}: {{ question|safe }}</h3>
        <div>
            {% for choice in choices %}
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{ question }}" value="{{ choice }}">
                    <label class="form-check-label" for="{{ question }}">{{ choice|safe }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}


            <div class="mt-4">
                <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
